html, body, #root, #root > div {
  height: 100%;
}


.제목이요{
  font-size: 30px;
}


.본문 {
  flex: 1;
}

.footer{
  margin: 8px 8px 8px 8px;
  position: fixed;
  width: 100%;

  bottom: 0;
}

.제목{
  font-size:32px;
}

