@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Single+Day&display=swap');
* {font-size: 10pt;
    font-family: 'Poor Story', cursive;
}


.제목이요{
    font-size: 30pt
}

.maker{
    font-size:32px;
}

main{
    border: 5px solid #70f0bf;
    margin: 10px;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.본문 {
    flex: 1;
}

footer{
    border: 5px solid #919191;
    margin: 10px;
    padding: 8px 8px 8px 8px;
}

.제목{
    font-size:32px;
}

