.template {
  height: calc(100vh - 20rem);
  display: flex;
  background: gray;
}

.homework {
  display: flex;
  flex: 1;
}

.board {
  display: flex;
  flex: 1;
}

.separator {
  width: 1rem;
  height: calc(100vh - 20rem);
  background:black;
  position: absolute;
  transform: translate(-50%);
  cursor: col-resize;

}

.homeworks-text{
  margin-left: 10px;
}

.homeworks-button{
  margin: 10px;
}