.template {
  height: calc(100vh - 20rem);
  display: flex;
  background: rgb(148, 208, 243);
}

.homework {
  display: flex;
  flex: 1;
}

.board {
  width: 100%;
  display: flex;
  flex: 1;
}

.separator {
  width: 1rem;
  height: calc(100vh - 20rem);
  background:rgb(165, 155, 253);
  position: absolute;
  transform: translate(-50%);
  cursor: col-resize;

}

.homeworks-text{
  margin-left: 10px;
}

.homeworks-button{
  margin: 10px;
}