.upload-container {
    padding-top : 25px;
    padding-left: 20px;
}

#upload-img-placeholder {
    width: 200px;
    height: 200px ;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(230,230,230);
    background: rgb(250,250,253);
    margin-left: 16px;
}

#upload-img {
    width: 300px;
    height: 300px;
}

#upload-img-placeholder > img {
    width: 100px;
    height: 100px;
}

#upload-img-placeholder > span {
    font-size: 14px;
    color : rgb(195, 194, 204);
}

.upload-label {
    font-size: 11px;
    width: 50px;
}

#submit-button {
    float : right;
    background-color: rgb(139, 241, 139);
    color: black;
}