.content-link {
    color: inherit;
    text-decoration: none;
}

.date{
    font-size:20px;
}

.pageandnum{
    font-size:20px;
}

.description{
    font-size:30px;
}

#image-box > img{
    width: 400px;
    height: 400px;
}